.container
    display: grid
    grid-template-columns: 4fr 2fr
    gap: 40px
    padding: 40px 40px 40px 20px

.aboutMeContainer
    display: flex
    flex-direction: column
    gap: 5px

.aboutMe
    height: 350px
    resize: none
    background-color: #2b2d30
    border: 1px solid #555555
    border-radius: 5px
    width: 100%
    font-family: 'Roboto', Arial, serif
    font-size: 20px
    color: #fff
    padding: 5px

.aboutMeTitle
    background-color: #00A36C
    padding: 5px
    border: 1px solid #fff
    border-left: 5px solid #fff

.avatarContainer
    display: grid
    gap: 5px
    aspect-ratio: 1/1

.avatar
    align-self: flex-end
    background-color: #2b2d30
    width: 100%
    display: flex
    justify-content: center
    align-items: center
    border: 1px solid #555555
    border-radius: 5px


.avatarTitle
    background-color: #00A36C
    padding: 5px
    border: 1px solid #fff
    border-left: 5px solid #fff

.statusContainer
    grid-column: 1 / span 2
    display: flex

.statusTitle
    background-color: #00A36C
    writing-mode: vertical-rl
    border: 1px solid #fff
    border-top: 5px solid #fff
    padding-top: 5px

.status
    width: 100%
    height: 150px
    background-color: #2b2d30
    border: 1px solid #555555
    border-radius: 5px
    font-family: 'Roboto', Arial, serif
    font-size: 20px
    color: #fff
    padding: 5px